<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Michael Dorst", root_path, :class => "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to home_path, :title => "Home" do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </li>
      <li>
        <%= link_to contact_path, :title => "Contact" do %>
          <span class="glyphicon glyphicon-envelope"></span>
        <% end %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Work <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="divider"></li>
          <li>
            <%= link_to "More on GitHub", "http://github.com/anthropomorphic", :target => "_blank" %>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Help", help_path %>
      </li>
    </ul>
  </div>
</nav>
